<div class="text-center">
    <h2>Thank you your Order is Complete!!!</h2>
    <h4>Email confirmation has been sent to you</h4>
    <p></p> ${{totalPrice}} will be charged to your account</p>
    <a href="/logout" class="btn btn-primary" role="button" id="logout">Return</a>

</div>

<script src="./js/logout.js"></script>