<!-- Sticky Navbar -->
<nav id='navbarTop' class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Coffee Capital</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <button class="btn1 btn-outline-success" onclick="openNav()" type="submit">View Order</button>
        </div>
    </div>
</nav>

<!-- Cart Sidebar -->
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h2>Cart</h2>
    <button class="align-self-end btn1 btn-outline-success" type="submit">Checkout</button>
</div>

<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <img id="coffeeCapitalLogo" src="/images/CoffeeCapitalLogoTrm.png">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a id='aboutBtn' class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <button class="btn1 btn-outline-success" type="submit" onclick="openNav()">View Order</button>
        </div>
    </div>
</nav>

<!-- Intro Section -->
<section class="main">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg-7 pt-5 text-center">
                <h1 class="pt-4">No queues, just fresh brewed Coffee!</h1>
                <button id='orderNowBtn' class="btn1 mt-3">Order Now</button>
            </div>
        </div>
    </div>
</section>

<!-- Eye Catcher (coffee cup logos) -->
<section class="new">
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-lg-7 m-auto">
                <div class="row text-center">
                    <div class="col-lg-4">
                        <img src="/images/coffeeLogoNoBG.png" alt="coffee logo" class="img-fluid">
                        <h6>FRESH</h6>
                    </div>
                    <div class="col-lg-4">
                        <img src="/images/coffeeLogoNoBG.png" alt="coffee logo" class="img-fluid">
                        <h6>QUICK</h6>
                    </div>
                    <div class="col-lg-4">
                        <img src="/images/coffeeLogoNoBG.png" alt="coffee logo" class="img-fluid">
                        <h6>TASTY</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About section -->
<section id="about" class="about">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-8 m-auto text-center">
                <h1>Say Hello to convenient coffee</h1>
                <h6 style="color: brown;">Fresh Brewed Treats all for You</h6>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <img src="/images/servingCoffee.jpg" class="img-fluid mb-3" alt="yum">
                    <h5>Fresh Brewed</h5>
                    <p>No more worrying that you will get cold flat coffee. All our brews are made just before the time
                        of pickup. Happy sipping.</p>
                </div>
                <div class="col-lg-4">
                    <img src="/images/coffeeTime.jpg" class="img-fluid mb-3" alt="yum">
                    <h5>Right On Time</h5>
                    <p>No more waiting for ages in queues, just pick the time you want to pick your fresh brewed coffee
                        up and it will be waiting for you.</p>
                </div>
                <div class="col-lg-4">
                    <img src="/images/coffeeFood.jpg" class="img-fluid mb-3" alt="yum">
                    <h5>Fresh Treats</h5>
                    <p>You wouldn't want to make two stops for your coffee experience. This is why we offer fresh food
                        to go along with your fresh coffee.</p>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-6 text-center m-auto">
                <button id='readyBtn' class="btn1">ready to order?</button>
            </div>
        </div>
    </div>
</section>

<!-- Menu -->
<section id="menu" class="shop">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-8 m-auto text-center">
                <h1>Our Menu</h1>
                <h6 style="color: brown;">What are you feeling like today?</h6>
            </div>
        </div>
        <div class="row">
            {{#each products as |product| }}
            <a href="/product/{{product.id}}">
                <div class="col-lg-3 text-center">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#orderModal"
                        class="card border-0 bg-light mb-2">
                        <div class="card-body">
                            <img src="/images/coffeePlaceholder.jpg" class='img-fluid' alt="coffee">
                        </div>
                    </button>
                    <h6>{{product.name}}</h6>
                    <p>{{product.price}}</p>
                </div>
            </a>
            {{/each}}

        </div>
    </div>
</section>

<!-- Second About -->
<section id='about' class="contactTop py-5">
    <div class="container text-white py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="font-weight-bold py-3">Coffee has never been this Good</h1>
                <h6>Fresh Brewed Treats all for You</h6>
                <button id='yesBtn' class="btn1">Yes Please</button>
            </div>
        </div>
    </div>
</section>


<!-- Product modals -->
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Coffee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at ante eleifend, sollicitudin turpis
                non, mollis nibh. Ut id arcu quis nisl convallis sagittis ac lobortis lorem. Aenean turpis velit, rutrum
                quis massa ac, sodales pharetra elit. Fusce ac metus non quam fermentum auctor. Nam sed pellentesque
                purus. Duis cursus sagittis felis, vel bibendum justo fringilla quis. Praesent feugiat urna at sem
                venenatis, sed luctus sapien tincidunt. Sed gravida vitae massa in auctor. Maecenas quis convallis
                metus. Morbi efficitur tempus accumsan. Etiam efficitur vel nulla ut gravida. Proin dictum imperdiet
                massa eu tempus. Aenean vulputate libero id viverra laoreet.
            </div>
            <div class="modal-footer">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Qty
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                        <li><a class="dropdown-item" href="#">5</a></li>
                        <li><a class="dropdown-item" href="#">6</a></li>
                        <li><a class="dropdown-item" href="#">7</a></li>
                        <li><a class="dropdown-item" href="#">8</a></li>
                        <li><a class="dropdown-item" href="#">9</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add to Order</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="./js/storeFront.js"></script>